@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  font-family: Poppins;
  overflow-x: hidden;
}
header {
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  margin-bottom: 30px;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header li {
  margin-top: 5px;
  margin-left: 50px;
}
header li a {
  text-decoration: none;
  color: inherit;
}
header li a:hover {
  color: white;
}
header img {
  width: 200px;
}
main {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main img {
  max-width: 100%;
}
.info {
  padding: 30px;
}
.info h1 {
  color: white;
  font-weight: 600;
  font-size: 45px;
}
.info p {
  max-width: 500px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(248, 247, 247);
}
.info button {
  color: hsl(257, 40%, 49%);
  font-size: 16px;
  padding: 15px 60px;
  background-color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px rgb(58, 57, 57);
}
.info button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}
footer {
  display: flex;
  float: right;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 10px 16px;
  margin: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.icon:hover {
  background-color: hsl(300, 69%, 71%);
}
.icon:last-child {
  margin-right: 100px;
}

@media (max-width: 1350px) {
  .info h1 {
    font-size: 35px;
  }
}

@media (max-width: 1080px) {
  main {
    flex-direction: column;
  }
  .icon:last-child {
    margin: 10px;
  }
  .info h1 {
    font-size: 45px;
  }
  header {
    margin-left: 10px;
  }
}
@media (max-width: 730px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }
  ul {
    visibility: hidden;
  }
  .info h1 {
    font-size: 35px;
  }
}
